<div id="content">
    <h1 class="pageTitle">Spatial Dimension, a Trimble Company</h1>
    <div id="details">
        <h3>Details</h3>
        <label class="label">Position: </label>
        <label>Software Developer Intern</label><br>
        <label class="label">Industry: </label>
        <label>Land Management Software</label><br>
        <label class="label">Period of Employment: </label>
        <label>January 2017 - April 2017</label><br>
        <label class="label">Technologies exposed to:</label>
        <label>VB.Net & C#.Net</label><br>
        <label class="label"></label>
        <label>Angular</label><br>
        <label class="label"></label>
        <label>SVN</label><br>
        <label class="label"></label>
        <label>Fogbugz Case Management</label><br>
        <label class="label"></label>
        <label>HTML & CSS</label><br>
        <label class="label"></label>
        <label>Javascript</label><br>
        <label class="label"></label>
        <label>MS SQL Server</label><br>
    </div>
    <div id="panel">
    <p-panel header="Overview" collapsed="true" [toggleable]="true">
        <p>I was hired as part of the internship team, tasked with taking our own software project from planning through to delivering a finished product. We were tasked with building a repository for use in the organisation.
          We developed a RESTful API that fed data from our own database to a front-end that we developed in Angular. 
        </p>
        <p>Our duties included scheduling meetings with other software developers and key stakeholders for the purposes
          of requirements gathering and analysis, designing and developing our database, API and front-end, software testing, creating and maintaining
          all documents related to our software and organising regular stakeholder meetings to get feedback on ideas and completed features.
        </p>
        <p>
          As Angular was still very new at the time, we were also tasked with documenting everything we learned so that we
          could present it to the rest of the development team.
        </p>
    </p-panel>
  </div>
</div>