<div id="content">
    <h1 class="pageTitle">Reading</h1>
  <div id="details">
      <p>Probably going hand-in-hand with my love for videogames, I've been reading since the day
          I learned to read. I fell in love with the worlds and characters that books brought to life in
          my imagination. From Tintin to Harry Potter and even the most obscure crime novels, I read anything I 
          could get my hands on.
        </p>
        <p>Many a night in my childhood was spent reading books under the covers with a flashlight after my bedtime. 
          Holidays would often see me reading my books on the couch instead of playing outdoors with my peers. 
          </p>
          <p>Although I don't have as much time to read anymore, I still greatly enjoy getting engrossed in a 
            book from time to time.
      </p>

      <p-panel header="Currently Reading" collapsed="true" [toggleable]="true">
          <div class="mediaDiv">
              <div class="mediaTitle">Gardens of the Moon</div>
              <div>Book 1 of Malazan Book of the Fallen</div>
              <div>High Fantasy</div>
              <div class="mediaButton">
                <a target="_blank" href="https://www.goodreads.com/series/43493-malazan-book-of-the-fallen">
                <button type="button" pButton icon="fa-search"></button>
              </a>
            </div>
            </div>
      </p-panel>
  </div>
</div>