<div id="content">
    <h1 class="pageTitle">Microsoft Certified Desktop Support Technician</h1>
  <div id="details">
      <h3>Details</h3>
      <label class="label">Institution: </label>
      <label>CTU Training Solutions Stellenbosch</label><br>
      <label class="label">Qualification stream: </label>
      <label>Tech support</label><br>
      <label class="label">NQF level: </label>
      <label>NQF4</label><br>
      <label class="label">Year completed: </label>
      <label>2011</label><br>
      <label class="label">Microsoft Certifications:</label>
      <label>CompTIA A+ Hardware</label><br>
      <label class="label"></label>
      <label>CompTIA A+ Software</label><br>
      <label class="label"></label>
      <label>Installing and Configuring Windows 7</label><br>
      <label class="label"></label>
      <label> CompTIA Network+</label><br>
      <label class="label">More Info: </label>
      <a target="_blank" href="https://ctutraining.ac.za/">
        CTU Training Solutions</a>
  </div>
</div>