<div id="content">
    <h1 class="pageTitle">Videogames</h1>
  <div id="details">
      <p>Ever since I got my first computer at the age of 9, I've been captivated with the
        myriad of fantastic worlds and stories to be found in videogames. The very first game I
        ever played was called 3 Skulls of the Toltecs, a little known point-and-click adventure
        set in 1866 Arizona, following the (misadventures) of a goofy, but lovable cowboy called
        Fenimore Filmore as he attempts to uncover the mystery of an ancient treasure.
      </p>

      <p>From there my love for videogames only grew and today I love to play a myriad of 
        different genres, from competitive shooters to complex strategy and 4X games. I love to
        keep up with gaming news and can often be found discussing new games or industry developments
        on online forums.
      </p>

      <p-panel header="Currently Playing" collapsed="true" [toggleable]="true">
              <div class="mediaDiv">
                <div class="mediaTitle">Mordheim: City of the Damned</div>
                <div>Turn-Based Strategy</div>
                <div>4/5 Stars</div>
                <div class="mediaButton">
                  <a target="_blank" href="http://mordheim-cityofthedamned.com/en/">
                  <button type="button" pButton icon="fa-search"></button>
                </a>
              </div>
              </div>
              <div class="mediaDiv">
                  <div class="mediaTitle">God of War</div>
                  <div>Hack 'n Slash</div>
                  <div>5/5 Stars</div>
                  <div class="mediaButton">
                    <a target="_blank" href="https://godofwar.playstation.com/">
                    <button type="button" pButton icon="fa-search"></button>
                  </a>
                </div>
              </div>
      </p-panel>
      <p-panel header="Favorite Games" collapsed="true" [toggleable]="true">
          <div class="mediaDiv">
              <div class="mediaTitle">Arcanum: of Steamworks and Magick Obscura</div>
              <div>CRPG</div>
              <div>4/5 Stars</div>
              <div class="mediaButton">
                <a target="_blank" href="https://www.gog.com/game/arcanum_of_steamworks_and_magick_obscura">
                <button type="button" pButton icon="fa-search"></button>
              </a>
            </div>
            </div>
            <div class="mediaDiv">
                <div class="mediaTitle">TESIII: Morrowind</div>
                <div>Open-world RPG</div>
                <div>5/5 Stars</div>
                <div class="mediaButton">
                  <a target="_blank" href="https://elderscrolls.bethesda.net/en/morrowind">
                  <button type="button" pButton icon="fa-search"></button>
                </a>
              </div>
              </div>
              <div class="mediaDiv">
                  <div class="mediaTitle">Dwarf Fortress</div>
                  <div>Colony Simulator</div>
                  <div>5/5 Stars</div>
                  <div class="mediaButton">
                    <a target="_blank" href="http://www.bay12games.com/dwarves/">
                    <button type="button" pButton icon="fa-search"></button>
                  </a>
                </div>
                </div>
      </p-panel>
  </div>
</div>