<div id="content">
    <h1 class="pageTitle">Animals</h1>
  <div id="details">
      <p>For as long as I can remember, I've loved and cared about animals. There was never a time in my childhood that we
        did not have pets in the house. As a result, I can't even imagine what life would be like without them! 
      </p>
      <p>As I grew older, I better understood and cared about the plight of animals. During my highschool years I would often
        volunteer at animal shelters in my area. I greatly enjoyed helping needy animals and animal conservation is something
        that is very important to me. One day when I retire, I hope to start an animal shelter of my own.
      </p>
  </div>
</div>