<div id="content">
    <h1 class="pageTitle">Popcorn Training</h1>
    <div id="details">
        <h3>Details</h3>
        <label class="label">Industry: </label>
        <label>Cyber Security Awareness Training</label><br>
        <label class="label">Job Title: </label>
        <label>Junior Front-End Developer</label><br>
        <label class="label">Contract Type:</label>
        <label>Remote Contractor</label><br>
        <label class="label">Period of Employment: </label>
        <label>May 2017 - August 2017</label><br>
        <label class="label">Technologies exposed to:</label>
        <label>Ruby on Rails</label><br>
        <label class="label"></label>
        <label>InterCooler.js</label><br>
        <label class="label"></label>
        <label>Git</label><br>
        <label class="label"></label>
        <label>HTML & CSS</label><br>
        <label class="label"></label>
        <label>PostgreSQL</label><br>
        <label class="label"></label>
        <label>JQuery</label><br>
    </div>
    <div id="panel">
    <p-panel header="Overview" collapsed="true" [toggleable]="true">
      <p>I joined Popcorn Training in May 2017 as a contractor, doing mostly front-end and visual work
        on their product in Ruby on Rails. As a remote developer, I gained a lot of experience in working on 
        my own while collaborating with a geographically dispersed team. 
      </p>
      <p>I learned how to analyse and interpret user requirements and to design solutions that are practical, meet user needs
        and in some cases also comply with legal requirements. I also learned how to acclimatize myself to an existing codebase with 
        lots of complexity and moving parts.
      </p>
      <p>I left Popcorn Training in August 2017 after I moved to Berlin and could no longer commit to the hours necessary to work for them.</p>
    </p-panel>
  </div>
</div>