<div id="content">
    <h1 class="pageTitle">Professional Skills</h1>
  <div id="details">
      <p-panel header="Computer Skills" collapsed="true" [toggleable]="true">
          <ul>
              <li>Angular</li>
              <li>HTML & CSS</li>
              <li>Ruby on Rails</li>
              <li>Git</li>
              <li>C#</li>
              <li>.Net (VB & C#)</li>
              <li>Delphi</li>
              <li>SQL</li>
              <li>SVN</li>
              <li>MS SQL Server</li>
              <li>Comptia A+ & N+</li>
              <li>MS Office</li>
            </ul>
      </p-panel>
      <p-panel header="Language Skills" collapsed="true" [toggleable]="true">
          <ul>
              <li>English (native)</li>
              <li>German (B1)</li>
              <li>Afrikaans (Native)</li>
            </ul>
      </p-panel>
  </div>
</div>