<div id="content">
    <h1 class="pageTitle">Overview</h1>
    <div id="details">
        <h3>Details</h3>
        <label class="label">Full Name:</label>
        <label>JJ Steyn</label><br>
        <label class="label">Date of Birth:</label>
        <label>04 May 1991</label><br>
        <label class="label">Nationality:</label>
        <label>South African</label><br>
        <label class="label">Country of Residence:</label>
        <label>Germany</label><br>
        <label class="label">Bundesstaat:</label>
        <label>Berlin</label><br>
        <label class="label">Marital Status:</label>
        <label>Married</label><br>
        <label class="label">Visa status:</label>
        <label>Valid work visa</label><br>
    </div>
</div>