/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding-top: 5rem;
    background-color: lightskyblue;
  }

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .navbar-dark .navbar-brand:hover {
    color: lightskyblue;
}

.pageTitle {
  text-align: center;
}

.mediaDiv {
  background: #ebedf0;
  text-align: center;
  width: 48%;
  display: inline-block;
  border-width:1px;
  border-style:solid;
  border-color:#d9d9d9;
  border-radius: 5px;
  margin: 5px;
}

.mediaTitle {
  font-size: 16pt;
}

.mediaButton {
  margin-bottom: 10px;
  justify-content: center;
}